<style>
  body {
    font-family: Helvetica, Arial, sans-serif;
    color: #EEF2E6;
    height: 100vh;
    margin: 0;
  }

  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .content-section {
    margin-bottom: 2rem;
  }

  .auth-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-links a,
  .auth-button {
    display: block;
    color: #EEF2E6;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 5px;
    margin: 0.5rem 0;
    width: fit-content;
    text-align: center;
    border: 1px solid #EEF2E6;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .auth-links a:hover,
  .auth-button:hover {
    background-color: #1F6744;
    color: #EEF2E6;
    text-decoration: none;
  }

  .auth-button {
    margin: 0 auto;
  }

  .field {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .field label {
    margin-right: 0.5rem;
  }
</style>

<div class="centered-container">
  <div class="content-section">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "reset my password", class: "auth-button", style: "margin-top: 10px" %>
      </div>
    <% end %>
  </div>

  <div class="content-section auth-links">
    <%= link_to "Log in", new_user_session_path, class: "auth-links a" %>
    <%= link_to "Sign up", new_user_registration_path, class: "auth-links a" %>  
  </div>
</div>
